<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Server</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/}">Notebook</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/servers}">Servers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/files}">Files</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" th:method="post" th:action="@{/logout}">
                <button class="btn btn-outline-primary my-2 mr-sm-2 my-sm-0" type="submit">Sign Out</button>
            </form>
        </div>
    </nav>
</div>
<div class="container-fluid">
    <div th:if="${message != null}" class="alert alert-warning" role="alert" th:text="${message}"></div>
    <form th:method="post" th:action="@{/servers}" th:object="${server}">
        <div class="form-group">
            <label for="name">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="Enter server name" th:field="*{name}">
            </div>
        </div>
        <div class="form-group">
            <label for="name">IP</label>
            <div class="col-sm-10">
                <input type="text" aria-label="IP" class="form-control" required placeholder="Enter server IP"
                       pattern="^\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}$" th:field="*{ip}">
            </div>
        </div>
        <div class="form-group">
            <label for="name">Port</label>
            <div class="col-sm-10">
                <input type="text" aria-label="PORT" class="form-control" required pattern="^\d+$" minlength="4"
                       placeholder="Enter server port"
                       maxlength="5" value="8084" th:field="*{port}">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>