<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Servers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/}">Notebook</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/servers}">Servers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/files}">Files</a>
                </li>
                <li class="nav-item" style="color: white">
                    <a class="btn btn-primary" th:href="@{/servers/create}">New Server</a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <label class="form-control mr-sm-2" th:text="${connectionStatus}"></label>
            </div>
            <form class="form-inline my-2 my-lg-0" th:method="post" th:action="@{/logout}">
                <button class="btn btn-outline-primary my-2 mr-sm-2 my-sm-0" type="submit">Sign Out</button>
            </form>
        </div>
    </nav>
</div>
<div style="margin-top: 20px">
    <div class="container-fluid">
        <div th:if="${message != null}" class="alert alert-warning" role="alert" th:text="${message}"></div>
        <div th:if="${servers == null || servers.isEmpty()}" class="alert alert-info" role="alert">
            You haven't added any servers yet!
        </div>
        <div class="card-deck">
            <div class="card" th:each="server : ${servers}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${server.name}">Server name</h5>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${server.ip + ':' + server.port}">ip:port</h6>
                    <div class="row">
                        <form class="form-inline my-2 my-lg-0 ml-3" th:method="post" th:action="@{/servers/connect}"
                              th:if="${!server.isConnected()}">
                            <button type="submit" class="btn btn-success my-2 mr-sm-2 my-sm-0">Connect</button>
                            <input type="hidden" th:value="${server.getId()}" name="userServerId">
                        </form>
                        <form class="form-inline my-2 my-lg-0 ml-3" th:method="post" th:action="@{/servers/disconnect}"
                              th:if="${server.isConnected()}">
                            <button type="submit" class="btn btn-warning my-2 mr-sm-2 my-sm-0">Disconnect</button>
                            <input type="hidden" th:value="${server.getId()}" name="userServerId">
                        </form>
<!--                        <a th:action="@{/servers/{id}/edit(id = ${server.getId()})}"-->
<!--                           class="btn btn-primary my-2 mr-2" style="color: white">Edit</a>-->
                        <form class="form-inline my-2 my-lg-0" th:method="post" th:action="@{/servers/{id}/delete(id=${server.getId()})}">
                            <button type="submit" class="btn btn-danger my-2 mr-sm-2 my-sm-0">Remove</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>